DATABASE_URL="file:/home/hope/RAFFLE/packages/database/prisma/dev.db"
JWT_SECRET="raffle_ethiopia_super_secret_jwt_key_2026_dev"
NEXT_PUBLIC_APP_NAME="Eyob Equb"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_ADMIN_URL="http://localhost:3001"
CHAPA_SECRET_KEY="CHASECK_TEST-mock-chapa-secret-key"
CHAPA_PUBLIC_KEY="CHAPUBK_TEST-mock-chapa-public-key"
CHAPA_WEBHOOK_SECRET="mock_webhook_secret_ethiopia_raffle"
SANTIMPAY_PRIVATE_KEY="mock_santimpay_key"
TELEBIRR_APP_ID="mock_telebirr_app_id"

